* {
    margin: 0;
    padding: 0;
    background-color: rgb(214, 210, 210);
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 100%;
    margin: auto;
}

.logo img {
    display: block;
    margin: auto;
    width : 30%;
}

.projects {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    list-style: none;
    text-align: center;
}

.projects li {
    margin: 30px;
}

.projects li a {
    text-decoration: none;
    font-size: 60px;
    color: white;
    text-shadow: 0 0 .2rem rgb(0, 0, 0);
    padding: 5px 10px;
}

.projects li a:hover {
    color: white;
    text-shadow: 0 0 2rem rgb(199, 253, 255);
}