html {
  font-size: 10px;
  background-color: rgb(255, 104, 192);
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-shadow: 0 0 .3rem rgb(0, 0, 0);
}

h1 {
  margin-top: 2%;
  color: #ffffff;
  text-align: center;
  font-size: 60px;
}

.container {
  width: 450px; 
  height: 450px; 
  position: fixed; 
  left:50%; 
  top:50%; 
  margin-left: -225px; 
  margin-top: -225px;
}

.keys {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  grid-gap: 0.7rem;
}

.key {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  border: 2px solid white;
  border-radius: 3rem;
  transition: all .07s ease;
  width: 150px;
  height: 150px;
  color: white;
  background: rgba(0,0,0,0.2);
  text-shadow: 0 0 .3rem rgb(0, 0, 0);
}

.playing {
  transform: scale(1.1);
  border-color: #0cf4fc;
  box-shadow: 0 0 1rem #19f2fa;
}

kbd {
  align-items: center;
  display: block;
  font-size: 6rem;
}

.sound {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffffff;
}

