* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 100%;
    margin: auto;
    background-color: rgb(214, 210, 210);
    /*
    rgb(130, 190, 245)
    */
}

.nav-area {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-right: 15px;
    background-color: rgb(156, 255, 74);
}

.nav-area li {
    margin: 3px;
    display: inline-block;
}

.nav-area li a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    text-shadow: 0 0 .2rem rgb(0, 0, 0);
    padding: 5px 10px;
}

.nav-area li a:hover {
    color: white;
    text-shadow: 0 0 2rem rgb(57, 248, 255);
}

.logo img {
    display: block;
    margin: auto;
    width : 30%;
}

.bgvideo {
    width: 100%;
    height: 580px;
    overflow: hidden;
    margin: 0px;
    position: relative;
}

.bgtext {
    position: absolute;
    top: 40%;
    width: 100%;
}

.bgtext p {
    text-align: center;
    font-size: 70px;
    color: #ffffff;
    text-shadow: 0 0 2.5rem rgb(57, 248, 255);
}